body{
	font-family: sans-serif;
	background-color: grey;
	color:white;
}
.appComponent{
	margin:0 auto;
	width: 100%;
}

li{
	text-decoration: none;
	list-style-type: none;
}
ul{
	padding: 0px;
}
.langList{
	display: flex;
	justify-content: center;
}
.langList li{
	margin: 10px;
	list-style-type: none;
	cursor: pointer;
}

.popular-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.popular-item{
	margin:20px;
	text-align: center;
}
.space-align-items{
	margin-bottom: 7px;
}

.avatar{
	width:150px;
	border-radius: 50%;
}